
<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand white-color" href="{%url 'home' %}">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle white-color" href="{%url 'ProductHome' %}" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item " href="{%url 'ProductHome' %}">List</a>
                    <a class="dropdown-item " href="{%url 'ProductAdd' %}">Add</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<style>

.white-color{
    color:white !important
}
</style>