{% extends "layouts/index.html" %}
{% block content%}
<br />
<div class="row">
    <div class="col-lg-3 col-sm-3 mt-bot">
        <div class="card">
            <img src="/static/products/iphone.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

<style>
    .mt-bot {
        margin-bottom: 10px
    }
</style>
{% endblock %}